[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
mongoengine = "*"
flask-restful = "*"
flask-jwt-extended = "*"
bcrypt = "*"
redis = "*"
flask-cors = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
